<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.yulin.payment.mapper.PaymentMapper">

    <resultMap id="PaymentResult" type="Payment">
        <result property="id" column="id"/>
        <result property="serial" column="serial"/>
    </resultMap>

    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serial != null and serial != ''">serial</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serial != null and serial != ''">#{serial}</if>
        </trim>
    </insert>

    <select id="getPaymentId" parameterType="int" resultMap="PaymentResult">
        select * from payment where id = #{id}
    </select>

</mapper>